<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Chenzf">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <title>书籍列表</title>
    <style>
        th,
        tr {
            text-align: center;
        }

        .butt {
            padding: 30px 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">图书列表</a>
            </div>
    </nav>
    <div style="padding-top:51px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>出版社</th>
                    <th>价格</th>
                </tr>
            </thead>
            <tbody id="write">
                {{each books}}
                <tr>
                    <td>{{$index+1}}</td>
                    <td><img src="{{$value.image}}" alt=""></td>
                    <td>{{$value.name}}</td>
                    <td>{{$value.author}}</td>
                    <td>{{$value.publisher}}</td>
                    <td>{{$value.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="container butt">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>